.\src\main\resources\application.yaml

.gradle/8.6/checksums/checksums.lock
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock